
{% extends 'post/base.html' %}
{% block content %}
        
        <section class="news_area single-post-area p_100">
        	<div class="container">
        		<div class="row">
        			<div class="col-lg-8">
       					<div class="main_blog_details">
       						<img class="img-fluid" src="{{url_for('static',filename='images/' + post.image)}}" alt="" style="width:100%; height: 400px;">
       						<h4> {{post.title}} </h4>
       						<div class="user_details">
       							<div class="float-left">
       								<a href="#">Lifestyle</a>
       								<a href="#">Gadget</a>
       							</div>
       							<div class="float-right">
       								<div class="media">
       									<div class="media-body">
       										<h5>{{post.author.name}}</h5>
       										<p> {{post.date_pub.strftime('%d %B, %Y  %I:%m %p')}}
											</p>
       									</div>	
       								</div>
       							</div>
       						</div>
       						<p>{{post.body}}</p>
						
      						<div class="news_d_footer">
      							<a href="#"><i class="lnr lnr lnr-heart"></i>Lily and 4 people like this</a>
      							<a class="justify-content-center ml-auto" href="#"><i class="lnr lnr lnr-bubble"></i> {{post.views }} Views  | {{post.comments}} Comments</a>
      							<div class="news_socail ml-auto">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-youtube-play"></i></a>
									<a href="#"><i class="fa fa-pinterest"></i></a>
									<a href="#"><i class="fa fa-rss"></i></a>
								</div>
      						</div>
       					</div>
                        <div class="comments-area">
							<h4>{{post.comments}} Comments</h4>
							{% for message in comment %}
                            <div class="comment-list">
                                <div class="single-comment justify-content-between d-flex">
                                    <div class="user justify-content-between d-flex">
                                        <div class="thumb">
                                            <img src="img/blog/c1.jpg" alt="">
										</div>
										
                                        <div class="desc">
                                            <h5><a href="#">{{message.name}}</a></h5>
                                            <p class="date">{{message.date_pub.strftime('%Y')}}</p>
                                            <p class="comment">
                                                {{message.message}}
                                            </p>
										</div>
										
                                    </div>
                                    <div class="reply-btn">
                                           <!-- <a href="" class="btn-reply text-uppercase">reply</a>  -->
                                    </div>
                                </div>
                            </div>	
							{% endfor %}
                    			                                             				
                        </div>
                        <div class="comment-form">
							{% include 'admin/messages.html' %}
                            <h4>Leave a Comment</h4>
                            <form method="POST">
                                <div class="form-group form-inline">
                                  <div class="form-group col-lg-6 col-md-6 name">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Enter Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Name'">
                                  </div>
                                  <div class="form-group col-lg-6 col-md-6 email">
                                    <input type="email" name="email" class="form-control" id="email" placeholder="Enter email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'">
                                  </div>										
                                </div>
                                <!-- <div class="form-group">
                                    <input type="text" class="form-control" id="subject" placeholder="Subject" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Subject'">
                                </div> -->
                                <div class="form-group">
                                    <textarea name="message" class="form-control mb-10" rows="5" name="message" placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>
                                </div>
                                <button type="submit" class="primary-btn submit_btn">Post Comment</button>	
                            </form>
                        </div>
        			</div>
        			<div class="col-lg-4">
        				<div class="right_sidebar">
        					<aside class="r_widgets news_widgets">
        						<div class="main_title2">
        							<h2>Most Popular News</h2>
								</div>
								
        						<!-- <div class="choice_item">
									<img class="img-fluid" src="img/blog/popular-post/pp-1.jpg" alt="">
									<div class="choice_text">
										<div class="date">
											<a class="gad_btn" href="#">Gadgets</a>
											<a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>March 14, 2018</a>
											<a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>05</a>
										</div>
										<a href="#"><h4>Dealing With Technical Support with 10 Useful Tips</h4></a>
										<p>It won’t be a bigger problem to find one video game lover in your neighbor. Since the introduction of Virtual Game, it has been achieving great heights</p>
									</div>
								</div> -->

       							<div class="news_slider owl-carousel">
										{% for popular in popularpost  %}
										<div class="choice_item">
											<img class="img-fluid" src="{{url_for('static',filename='images/' + popular.image)}}"
												style="width:100px;">
											<div class="choice_text">
												<div class="date">
													<a href="#"></a>
													<a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>{{popular.date_pub.strftime('%B %d, %Y')}}</a>
													<a href="#"></i> <i class="fa fa-eye" aria-hidden="true">
															{{popular.views}}</i></a>
													<a href="#"></i> <i class="fa fa-comments" aria-hidden="true">
															{{popular.comments}}</i></a>
												</div>
												<a href="{{url_for('news', slug=popular.slug)}}">
													<h4>{{popular.title}}</h4>
												</a>
												<p> {{ popular.body|truncate(50, True)}} </p>
											</div>
										</div>
										{% endfor %}
       							</div>
        					</aside>
        					<aside class="r_widgets add_widgets text-center">
        						<img class="img-fluid" src="img/blog/add-1.jpg" alt="">
        					</aside>
        					<aside class="r_widgets social_widgets">
        						<div class="main_title2">
        							<h2>Social Networks</h2>
        						</div>
        						<ul class="list">
        							<li><a href="#"><i class="fab fa-facebook"></i> 983Likes <span>Like our page</span></a></li>
        							<li><a href="#"><i class="fab fa-twitter"></i> 983Followers <span>Follow Us</span></a></li>
        							<li><a href="#"><i class="fab fa-youtube-play"></i> 9835Subscriber <span>Subscribe</span></a></li>
        							<li><a href="#"><i class="fab fa-vimeo"></i> 59874Subscriber <span>Subscribe</span></a></li>
        							<li><a href="#"><i class="fab fa-pinterest"></i> 36958Followers <span>Follow Us</span></a></li>
        							<li><a href="#"><i class="fa fa-rss"></i>RSS Subscribe <span>Subscribe</span></a></li>
        						</ul>
        					</aside>
        					<aside class="r_widgets newsleter_widgets">
        						<div class="main_title2">
        							<h2>Newsletter</h2>
        						</div>
        						<div class="nsl_inner">
        							<i class="fa fa-envelope"></i>
        							<h4>Subscribe to our Newsletter</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua adipisicing</p>
									<div class="form-group d-flex flex-row">
										<div class="input-group">
											<input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter your email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email'">
										</div>
										<a href="#" class="bbtns">Subcribe</a>
									</div>	
        						</div>
        					</aside>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
		<!--================End News Area =================-->
		
        <!--================ start footer Area  =================-->	
       {% endblock content %}